<!-- {{session.isPremium}} returns wheter the user is premium or not  -->

<table>
  <thead>
    <tr>
      <th>Número</th>
      <th>Pregunta</th>
      <th>Id</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{!-- A questions looks like: --}}
    {{!--
    {
      id: 26,
      text: 'What makes you bored?',
      points: 100,
      number: 18,
      isEditable: false
    }
    --}}
  </tbody>

</table>
