<form>
  <p>
    <label>Question</label>
    {{input value=model.text}}
  </p>

  <p>
    <label>Points</label>
    {{input value=model.points type="number"}}
  </p>
  <p>
    <!-- Where to put the buttons -->
  </p>
</form>
